In [52]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_csv('adult.csv')

In [54]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [55]:
data.shape

(48842, 15)

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [57]:
data.duplicated().sum()

52

In [58]:
data = data.drop_duplicates()
data.shape

(48790, 15)

In [59]:
data.nunique()

age                   74
workclass              9
fnlwgt             28523
education             16
educational-num       16
marital-status         7
occupation            15
relationship           6
race                   5
gender                 2
capital-gain         123
capital-loss          99
hours-per-week        96
native-country        42
income                 2
dtype: int64

In [60]:
missing_values = data.isnull().sum()
missing_values

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [61]:
missing_workclass = data[data['workclass'] == '?'].shape[0]
missing_occupation = data[data['occupation'] == '?'].shape[0]
missing_native_country = data[data['native-country'] == '?'].shape[0]

missing_workclass, missing_occupation, missing_native_country

(2795, 2805, 856)

In [62]:
cleaned_data = data[(data['workclass'] != '?') & 
                    (data['occupation'] != '?') & 
                    (data['native-country'] != '?')]

original_row_count = data.shape[0]
cleaned_row_count = cleaned_data.shape[0]

original_row_count, cleaned_row_count

(48790, 45175)

In [63]:
cleaned_data.to_csv('adult_cleaned.csv', index=False)

In [64]:
Q1 = cleaned_data.quantile(0.25, numeric_only=True)
Q3 = cleaned_data.quantile(0.75, numeric_only=True)

In [65]:
IQR = Q3 - Q1
IQR

age                    19.0
fnlwgt             120510.5
educational-num         4.0
capital-gain            0.0
capital-loss            0.0
hours-per-week          5.0
dtype: float64

In [66]:
Q1_age = Q1['age']
Q3_age= Q3['age']
IQR_age = IQR['age']

In [67]:
filtered_data = cleaned_data[~((cleaned_data['age'] < (Q1_age - 1.5 * IQR_age)) | (cleaned_data['age'] > (Q3_age + 1.5 * IQR_age)))]

In [68]:
Q1_fnlwgt = Q1['fnlwgt']
Q3_fnlwgt= Q3['fnlwgt']
IQR_fnlwgt = IQR['fnlwgt']

In [69]:
filtered_data = filtered_data[~((filtered_data['fnlwgt'] < (Q1_fnlwgt - 1.5 * IQR_fnlwgt)) | (filtered_data['fnlwgt'] > (Q3_fnlwgt + 1.5 * IQR_fnlwgt)))]

In [70]:
Q1_educational_num = Q1['educational-num']
Q3_educational_num= Q3['educational-num']
IQR_educational_num = IQR['educational-num']

In [71]:
filtered_data = filtered_data[~((filtered_data['educational-num'] < (Q1_educational_num - 1.5 * IQR_educational_num)) | (filtered_data['educational-num'] > (Q3_educational_num + 1.5 * IQR_educational_num)))]

In [72]:
Q1_hours_per_week  = Q1['hours-per-week']
Q3_hours_per_week = Q3['hours-per-week']
IQR_hours_per_week  = IQR['hours-per-week']

In [73]:
filtered_data = filtered_data[~((filtered_data['hours-per-week'] < (Q1_hours_per_week  - 1.5 * IQR_hours_per_week)) | (filtered_data['hours-per-week'] > (Q3_hours_per_week + 1.5 * IQR_hours_per_week)))]

In [74]:
filtered_data.to_csv('adult_cleaned_final.csv', index=False)

In [75]:
print("Education value counts:")
print(filtered_data.education.value_counts())

Education value counts:
education
HS-grad         11088
Some-college     6648
Bachelors        5617
Masters          1811
Assoc-voc        1545
Assoc-acdm       1105
11th              895
10th              777
7th-8th           551
9th               484
Prof-school       461
12th              345
Doctorate         329
5th-6th           324
Name: count, dtype: int64

In [76]:
print("\nWorkclass value counts:")
print(filtered_data.workclass.value_counts())

Workclass value counts:
workclass
Private             23964
Local-gov            2382
Self-emp-not-inc     2053
State-gov            1454
Federal-gov          1162
Self-emp-inc          957
Without-pay             8
Name: count, dtype: int64

In [77]:
print("\nOccupation value counts:")
print(filtered_data.occupation.value_counts())

Occupation value counts:
occupation
Craft-repair         4901
Exec-managerial      4362
Prof-specialty       4303
Adm-clerical         4212
Sales                3352
Other-service        2632
Machine-op-inspct    2513
Transport-moving     1577
Handlers-cleaners    1426
Tech-support         1114
Farming-fishing       766
Protective-serv       725
Priv-house-serv        85
Armed-Forces           12
Name: count, dtype: int64

In [78]:
print("\nGender value counts:")
print(filtered_data.gender.value_counts())

Gender value counts:
gender
Male      22064
Female     9916
Name: count, dtype: int64